
    .crab-0{
        fill:#AB3134;
        d:path("M20.326 97.221, L32.232 80.168, L16.979 77.579, Z")
    }

    .crab-1{
        fill:#B64445;
        d:path("M26.595 73.513, L31.316 81.368, L16.979 77.579, Z")
    }

    .crab-2{
        fill:#B65451;
        d:path("M77.863 57.558, L84.811 44.358, L98.326 57.4, Z")
    }

    .crab-3{
        fill:#D36563;
        d:path("M78.116 48.305, L84.811 44.358, L81.4 52.292, Z")
    }

    .crab-4{
        fill:#CC4547;
        d:path("M58.221 3.084, L75.968 24.558, L53.042 60.937, Z")
    }

    .crab-5{
        fill:#A92A2E;
        d:path("M2.105 32.326, L53.042 60.937, L7.411 58.568, Z")
    }

    .crab-6{
        fill:#912323;
        d:path("M12.463 46.095, L18.66 59.154, L7.411 58.568, Z")
    }

    .crab-7{
        fill:#AB3737;
        d:path("M25.505 74.011, L37.632 82.111, L28.726 80.737, Z")
    }

    .crab-8{
        fill:#AB3737;
        d:path("M25.505 74.011, L48.874 76.537, L37.567 82.113, Z")
    }

    .crab-9{
        fill:#BB393C;
        d:path("M25.505 74.011, L53.042 60.937, L48.874 76.537, Z")
    }

    .crab-10{
        fill:#BD4244;
        d:path("M48.874 76.537, L53.042 60.937, L57.179 71.895, Z")
    }

    .crab-11{
        fill:#CB5858;
        d:path("M53.042 60.937, L67.118 66.858, L57.179 71.895, Z")
    }

    .crab-12{
        fill:#D05F5D;
        d:path("M53.042 60.937, L76.853 61.932, L67.118 66.858, Z")
    }

    .crab-13{
        fill:#D26160;
        d:path("M53.042 60.937, L80.042 48.495, L76.853 61.932, Z")
    }

    .crab-14{
        fill:#D25F5D;
        d:path("M76.853 61.932, L81.779 52.126, L79.947 48.463, Z")
    }

    .crab-15{
        fill:#CE5653;
        d:path("M67.758 20.326, L53.042 60.937, L79.932 48.558, Z")
    }

    .crab-16{
        fill:#D35553;
        d:path("M67.758 20.326, L53.042 60.937, L39.337 30.811, Z")
    }

    .crab-17{
        fill:#B73332;
        d:path("M39.337 30.811, L53.042 60.937, L12.463 46.095, Z")
    }

    .crab-18{
        fill:#B03134;
        d:path("M12.463 46.095, L53.042 60.937, L25.505 74.011, Z")
    }

    .crab-19{
        fill:#4D3735;
        d:path("M53.642 33.558, L62.168 24.653, L66.621 32.8, Z")
    }

    .crab-20{
        fill:#3E2C2C;
        d:path("M20.453 44.516, L24.621 53.611, L31.379 43.189, Z")
    }

/* ============================================================================================== */

.dinosuar-0{
    fill:#75533F;
    d:path("M70.8 57.9, L81.8 51.6, L73.3 57.9, Z")
}

.dinosuar-1{
    fill:#442D1B;
    d:path("M70.3 29.8, L84.2 25.7, L61.6 57.8, Z")
}

.dinosuar-2{
    fill:#A68C20;
    d:path("M58 37.8, L70.7 38.1, L70.3 40.4, Z")
}

.dinosuar-3{
    fill:#A68C20;
    d:path("M58.1 37.8, L67.2 39.7, L56.4 38.4, Z")
}

.dinosuar-4{
    fill:#AB981D;
    d:path("M10.5 32.6, L66.2 39.5, L2.8 33.9, Z")
}

.dinosuar-5{
    fill:#5E432B;
    d:path("M39.5 37.1, L66.8 39.6, L41.8 53.1, Z")
}

.dinosuar-6{
    fill:#5E432B;
    d:path("M10.3 37.5, L39.5 37.1, L41.8 53.1, Z")
}

.dinosuar-7{
    fill:#5D402D;
    d:path("M2.8 33.9, L39.5 37.1, L10.4 37.5, Z")
}

.dinosuar-8{
    fill:#71503A;
    d:path("M59.1 39.7, L70.4 39.6, L56.9 57.7, Z")
}

.dinosuar-9{
    fill:#71503A;
    d:path("M56.9 57.7, L70.4 39.6, L65.5 57.9, Z")
}

.dinosuar-10{
    fill:#84604B;
    d:path("M40.8 53.9, L59.1 39.7, L48.7 73.8, Z")
}

.dinosuar-11{
    fill:#71523C;
    d:path("M50.7 67.3, L64.3 74.3, L48.9 73, Z")
}

.dinosuar-12{
    fill:#84604B;
    d:path("M59.1 39.7, L55.5 69, L48.7 73.8, Z")
}

.dinosuar-13{
    fill:#513C2B;
    d:path("M70.9 37.5, L85.7 37.9, L85.8 41.7, Z")
}

.dinosuar-14{
    fill:#4C3727;
    d:path("M76.4 42.7, L84.5 44, L84.6 51.8, Z")
}

.dinosuar-15{
    fill:#644733;
    d:path("M70.9 37.5, L70 58.5, L65.4 58.3, Z")
}

.dinosuar-16{
    fill:#6B513E;
    d:path("M76.5 47, L85.9 49.2, L85.1 55.3, Z")
}

.dinosuar-17{
    fill:#75533F;
    d:path("M81.1 46.7, L85.9 49.2, L70.2 58.3, Z")
}

.dinosuar-18{
    fill:#644733;
    d:path("M70.9 37.5, L85.8 41.7, L70 58.5, Z")
}

.dinosuar-19{
    fill:#835D47;
    d:path("M84.2 25.7, L98.2 33, L70.9 37.5, Z")
}

.dinosuar-20{
    fill:#845E4A;
    d:path("M70.9 37.5, L98.2 33, L97.4 38.3, Z")
}


/* ============================================================================================== */

.dog-0{
    fill:#B09658;
    d:path("M32.4 76.2, L68.6 76.5, L51.7 56.6, Z")
}

.dog-1{
    fill:#9B7D33;
    d:path("M39.7 19.9, L51.7 56.6, L24.4 68.1, Z")
}

.dog-2{
    fill:#9B7D33;
    d:path("M24.4 68.1, L51.7 56.6, L32.4 76.2, Z")
}

.dog-3{
    fill:#9B7D33;
    d:path("M39.7 20.1, L51.4 20.1, L51.7 56.8, Z")
}

.dog-4{
    fill:#A2843B;
    d:path("M51.4 20.1, L61.4 20.1, L51.7 56.8, Z")
}

.dog-5{
    fill:#A2843B;
    d:path("M61.4 20.1, L78.5 67.3, L51.7 56.8, Z")
}

.dog-6{
    fill:#A2843B;
    d:path("M51.7 56.6, L78.5 67.3, L68.6 76.5, Z")
}

.dog-7{
    fill:#846327;
    d:path("M61.4 20.1, L95.3 47.7, L83.2 80.3, Z")
}

.dog-8{
    fill:#846327;
    d:path("M3 46.8, L39.7 20.1, L20.5 80.9, Z")
}

.dog-9{
    fill:#2C2313;
    d:path("M51.7 56.6, L57.2 63, L51.7 64.7, Z")
}

.dog-10{
    fill:#2C2313;
    d:path("M45.5 62.9, L51.7 56.6, L51.7 64.7, Z")
}

.dog-11{
    fill:#1C1E12;
    d:path("M36.6 44.4, L39.5 44.4, L38.2 47.8, Z")
}

.dog-12{
    fill:#1C1E12;
    d:path("M62.1 45.1, L64.8 45.1, L63.5 48.1, Z")
}

.dog-13{
    fill:#1C1E12;
    d:path("M61.2 48.1, L63.5 48.1, L63.5 51.4, Z")
}

.dog-14{
    fill:#1C1E12;
    d:path("M63.5 48.1, L65.7 48.1, L64.8 45.1, Z")
}

.dog-15{
    fill:#1C1E12;
    d:path("M63.5 48.1, L65.7 48.1, L63.5 51.4, Z")
}

.dog-16{
    fill:#1C1E12;
    d:path("M39.5 44.4, L40.4 47.8, L38.2 47.8, Z")
}

.dog-17{
    fill:#1C1E12;
    d:path("M36.6 44.4, L38.2 47.8, L35.7 47.9, Z")
}

.dog-18{
    fill:#1C1E12;
    d:path("M35.7 47.9, L38.2 47.8, L38.2 51, Z")
}

.dog-19{
    fill:#1C1E12;
    d:path("M61.2 48.1, L62.1 45.1, L63.5 48.1, Z")
}

.dog-20{
    fill:#1C1E12;
    d:path("M38.2 47.8, L40.4 47.8, L38.2 51, Z")
}


/* ============================================================================================== */

.fish-0{
    fill:#6FBD6A;
    d:path("M14.611 48.526, L59.705 4.189, L60.463 95.516, Z")
}

.fish-1{
    fill:#F6F5BE;
    d:path("M47.389 82.442, L48.905 15.368, L79.979 50.042, Z")
}

.fish-2{
    fill:#179841;
    d:path("M83.863 15.526, L79.979 50.042, L48.293 49.377, Z")
}

.fish-3{
    fill:#0C7C33;
    d:path("M48.293 49.377, L79.979 50.042, L83.042 86.579, Z")
}

.fish-4{
    fill:#FAF3BD;
    d:path("M33.889 38.011, L27.4 37.253, L25.079 44.737, Z")
}

.fish-5{
    fill:#E94C21;
    d:path("M27.905 38.871, L31.079 38.089, L29.358 42.811, Z")
}

.fish-6{
    fill:#2D2F6E;
    d:path("M38.074 59.926, L38.2 53.863, L41.737 56.895, Z")
}

.fish-7{
    fill:#35387C;
    d:path("M67.663 59.042, L71.642 62.121, L67.568 65.532, Z")
}

.fish-8{
    fill:#22215B;
    d:path("M34.458 49.332, L31.632 46.411, L31.379 52.221, Z")
}

.fish-9{
    fill:#292A68;
    d:path("M62.737 50.168, L58.821 47.326, L58.695 53.042, Z")
}

.fish-10{
    fill:#313476;
    d:path("M78.242 56.579, L74.389 53.674, L74.421 59.579, Z")
}

.fish-11{
    fill:#3C4089;
    d:path("M78.179 32.705, L74.311 29.168, L74.389 35.642, Z")
}

.fish-12{
    fill:#3F438F;
    d:path("M74.295 41.421, L78.226 44.595, L74.241 47.933, Z")
}

.fish-13{
    fill:#2D2F6E;
    d:path("M39.842 63.084, L43.505 65.989, L39.842 69.274, Z")
}

.fish-14{
    fill:#313476;
    d:path("M71.484 38.263, L67.632 34.979, L67.632 41.358, Z")
}

.fish-15{
    fill:#3C4089;
    d:path("M74.2 71.737, L74.342 65.342, L78.132 68.516, Z")
}

.fish-16{
    fill:#FAF3BD;
    d:path("M25.079 44.737, L33.889 38.011, L32.232 42.842, Z")
}

.fish-17{
    fill:#22215B;
    d:path("M39.526 26.784, L43.379 29.989, L39.716 33.147, Z")
}

.fish-18{
    fill:#313476;
    d:path("M67.758 47.168, L71.232 49.884, L67.758 53.295, Z")
}

.fish-19{
    fill:#22215B;
    d:path("M29.989 57.053, L34.411 59.547, L30.116 63.337, Z")
}

.fish-20{
    fill:#22215B;
    d:path("M40.853 40.979, L41.105 46.537, L44.389 43.884, Z")
}


/* ============================================================================================== */

.fox-0{
    fill:#B3805F;
    d:path("M72.353 3.479, L72.779 32.468, L51.084 26.263, Z")
}

.fox-1{
    fill:#AE805F;
    d:path("M42.053 36.558, L58.347 54.811, L23.674 56.705, Z")
}

.fox-2{
    fill:#AE805F;
    d:path("M23.674 56.705, L58.347 54.811, L31.884 73.884, Z")
}

.fox-3{
    fill:#AE805F;
    d:path("M31.884 73.884, L58.347 54.811, L40.379 88.6, Z")
}

.fox-4{
    fill:#AE805F;
    d:path("M58.347 54.811, L73.316 89.105, L40.379 88.6, Z")
}

.fox-5{
    fill:#815734;
    d:path("M23.674 56.705, L46.442 96.274, L24.984 87.842, Z")
}

.fox-6{
    fill:#34241A;
    d:path("M38.768 82.979, L46.442 96.274, L34.489 91.6, Z")
}

.fox-7{
    fill:#B37650;
    d:path("M62.516 50.895, L74.895 31.126, L73.316 89.105, Z")
}

.fox-8{
    fill:#C69F88;
    d:path("M40.67 39.988, L62.516 50.895, L73.316 89.105, Z")
}

.fox-9{
    fill:#34241A;
    d:path("M69.289 74.879, L73.717 74.621, L73.316 89.105, Z")
}

.fox-10{
    fill:#34241A;
    d:path("M65.282 76.945, L69.289 74.879, L73.316 89.105, Z")
}

.fox-11{
    fill:#C6A485;
    d:path("M27.211 19.695, L54.558 25.189, L40.663 40.032, Z")
}

.fox-12{
    fill:#AF7F5F;
    d:path("M53.903 25.127, L62.516 50.895, L40.67 39.988, Z")
}

.fox-13{
    fill:#BC8D6A;
    d:path("M53.903 25.127, L74.895 31.126, L62.516 50.895, Z")
}

.fox-14{
    fill:#35261C;
    d:path("M58.993 49.155, L61.126 46.821, L62.5 50.867, Z")
}

.fox-15{
    fill:#35261C;
    d:path("M61.126 46.821, L64.896 47.134, L62.503 50.888, Z")
}

.fox-16{
    fill:#382614;
    d:path("M64.316 34.916, L65.232 35.295, L63.716 38.611, Z")
}

.fox-17{
    fill:#382614;
    d:path("M64.316 34.916, L68.279 33.795, L65.232 35.295, Z")
}

.fox-18{
    fill:#382614;
    d:path("M52.868 39.637, L52.821 38.547, L55.632 41.074, Z")
}

.fox-19{
    fill:#382614;
    d:path("M49.268 40.474, L52.821 38.547, L52.868 39.637, Z")
}

.fox-20{
    fill:#34241A;
    d:path("M24.842 83.358, L30.076 89.879, L24.949 87.842, Z")
}


/* ============================================================================================== */

.origin-0{
    fill:transparent;
    d:path("M13.316 97.979, L19.442 85.758, L5.042 88.032, Z")
}

.origin-1{
    fill:transparent;
    d:path("M13.142 72.945, L24.305 84.779, L3.526 77.011, Z")
}

.origin-2{
    fill:transparent;
    d:path("M78.432 93.937, L85.379 80.737, L98.895 93.779, Z")
}

.origin-3{
    fill:transparent;
    d:path("M51.589 21.211, L60.368 11.105, L66.811 18.116, Z")
}

.origin-4{
    fill:transparent;
    d:path("M63.968 24.747, L78.937 34.6, L37.695 61.316, Z")
}

.origin-5{
    fill:transparent;
    d:path("M3.179 2.2, L15.084 11.105, L8.484 28.442, Z")
}

.origin-6{
    fill:transparent;
    d:path("M15.305 49.884, L21.502 62.943, L10.253 62.358, Z")
}

.origin-7{
    fill:transparent;
    d:path("M21.337 68.326, L31 78.511, L31 72.495, Z")
}

.origin-8{
    fill:transparent;
    d:path("M29.295 88.789, L52.663 91.316, L41.356 96.892, Z")
}

.origin-9{
    fill:transparent;
    d:path("M41.232 79.505, L60.179 69.274, L64.6 82.032, Z")
}

.origin-10{
    fill:transparent;
    d:path("M68.011 88.474, L72.179 72.874, L76.316 83.832, Z")
}

.origin-11{
    fill:transparent;
    d:path("M55.695 87.463, L69.771 93.384, L59.832 98.421, Z")
}

.origin-12{
    fill:transparent;
    d:path("M74.642 68.705, L98.453 69.7, L88.718 74.626, Z")
}

.origin-13{
    fill:transparent;
    d:path("M33.147 76.853, L60.147 64.411, L38.389 64.726, Z")
}

.origin-14{
    fill:transparent;
    d:path("M83.295 54.732, L98.263 47.484, L86.389 41.263, Z")
}

.origin-15{
    fill:transparent;
    d:path("M85 3.716, L86.516 13.189, L98.453 7.505, Z")
}

.origin-16{
    fill:transparent;
    d:path("M91.063 20.768, L86.137 31, L81.589 23.421, Z")
}

.origin-17{
    fill:transparent;
    d:path("M80.453 39.337, L76.916 65.674, L52.6 56.579, Z")
}

.origin-18{
    fill:transparent;
    d:path("M26.453 32.895, L37.632 36.116, L32.516 44.832, Z")
}

.origin-19{
    fill:transparent;
    d:path("M23.895 17.832, L32.421 8.926, L36.874 17.074, Z")
}

.origin-20{
    fill:transparent;
    d:path("M5.863 36.558, L10.032 45.653, L16.789 35.232, Z")
}


/* ============================================================================================== */

/* ============================================================================================== */

/* ============================================================================================== */