/* ============================================================================
============================================================================= */

.lamo-0{
    background-color:#433227;
    clip-path: polygon(34.277% 93.321%, 28.945% 94.757%, 34.259% 94.73%)
}

.lamo-1{
    background-color:#9E8776;
    clip-path: polygon(30.746% 91.235%, 28.945% 94.757%, 34.277% 93.321%)
}

.lamo-2{
    background-color:#5D4B3E;
    clip-path: polygon(24.023% 85.288%, 28.945% 94.757%, 30.746% 91.235%)
}

.lamo-3{
    background-color:#766855;
    clip-path: polygon(24.023% 85.288%, 30.746% 91.235%, 30.603% 83.567%)
}

.lamo-4{
    background-color:#9E8675;
    clip-path: polygon(24.463% 69.747%, 24.023% 85.288%, 30.603% 83.567%)
}

.lamo-5{
    background-color:#8A7567;
    clip-path: polygon(24.463% 69.747%, 30.603% 83.567%, 38.532% 72.187%)
}

.lamo-6{
    background-color:#766855;
    clip-path: polygon(24.463% 69.747%, 38.532% 72.187%, 39.55% 65.958%)
}

.lamo-7{
    background-color:#9E8775;
    clip-path: polygon(23.089% 53.168%, 24.463% 69.747%, 39.55% 65.958%)
}

.lamo-8{
    background-color:#5C4C3E;
    clip-path: polygon(17.5% 62.334%, 24.463% 69.747%, 23.089% 53.168%)
}

.lamo-9{
    background-color:#766855;
    clip-path: polygon(17.658% 51.826%, 17.5% 62.334%, 23.089% 53.168%)
}

.lamo-10{
    background-color:#9D8876;
    clip-path: polygon(17.658% 51.826%, 23.089% 53.168%, 28.316% 41.721%)
}

.lamo-11{
    background-color:#C2B899;
    clip-path: polygon(23.089% 53.168%, 36.763% 50.611%, 28.316% 41.721%)
}

.lamo-12{
    background-color:#766855;
    clip-path: polygon(23.089% 53.168%, 39.55% 65.958%, 36.763% 50.611%)
}

.lamo-13{
    background-color:#D8CBB2;
    clip-path: polygon(28.316% 41.721%, 36.763% 50.611%, 53.358% 40.853%)
}

.lamo-14{
    background-color:#9E8775;
    clip-path: polygon(36.763% 50.611%, 65.224% 55.063%, 53.358% 40.853%)
}

.lamo-15{
    background-color:#C4B899;
    clip-path: polygon(36.763% 50.611%, 57.408% 68.161%, 65.224% 55.063%)
}

.lamo-16{
    background-color:#8A7567;
    clip-path: polygon(36.763% 50.611%, 39.55% 65.958%, 50.089% 62.026%)
}

.lamo-17{
    background-color:#766855;
    clip-path: polygon(39.55% 65.958%, 47.176% 69.368%, 50.089% 62.026%)
}

.lamo-18{
    background-color:#5D4B3E;
    clip-path: polygon(50.089% 62.026%, 47.176% 69.368%, 57.408% 68.161%)
}

.lamo-19{
    background-color:#766855;
    clip-path: polygon(57.408% 68.161%, 61.079% 82.513%, 68.516% 71.476%)
}

.lamo-20{
    background-color:#8A7567;
    clip-path: polygon(61.079% 82.513%, 68.374% 82.987%, 68.516% 71.476%)
}

.lamo-21{
    background-color:#766854;
    clip-path: polygon(61.079% 82.513%, 66.692% 86.184%, 68.374% 82.987%)
}

.lamo-22{
    background-color:#9E8775;
    clip-path: polygon(61.079% 82.513%, 62.832% 89.168%, 66.692% 86.184%)
}

.lamo-23{
    background-color:#766855;
    clip-path: polygon(62.832% 89.168%, 67.308% 90.921%, 66.692% 86.184%)
}

.lamo-24{
    background-color:#5D4C3D;
    clip-path: polygon(62.832% 89.168%, 62.855% 94.805%, 67.308% 90.921%)
}

.lamo-25{
    background-color:#9D8775;
    clip-path: polygon(67.308% 90.921%, 62.855% 94.805%, 69.368% 92.603%)
}

.lamo-26{
    background-color:#3D2E25;
    clip-path: polygon(69.368% 92.603%, 62.855% 94.805%, 69.321% 94.734%)
}

.lamo-27{
    background-color:#ACA187;
    clip-path: polygon(57.408% 68.161%, 68.516% 71.476%, 65.224% 55.063%)
}

.lamo-28{
    background-color:#C4B899;
    clip-path: polygon(65.224% 55.063%, 68.516% 71.476%, 78.211% 57.684%)
}

.lamo-29{
    background-color:#9E8775;
    clip-path: polygon(65.224% 55.063%, 78.211% 57.684%, 80.263% 40.884%)
}

.lamo-30{
    background-color:#5C4C3E;
    clip-path: polygon(77.926% 36.337%, 65.224% 55.063%, 80.263% 40.884%)
}

.lamo-31{
    background-color:#766855;
    clip-path: polygon(71.674% 28.947%, 65.224% 55.063%, 77.926% 36.337%)
}

.lamo-32{
    background-color:#C4B899;
    clip-path: polygon(62.453% 41.832%, 65.224% 55.063%, 71.674% 28.947%)
}

.lamo-33{
    background-color:#ACA185;
    clip-path: polygon(60.211% 43.789%, 65.224% 55.063%, 62.453% 41.832%)
}

.lamo-34{
    background-color:#8A7567;
    clip-path: polygon(53.358% 40.853%, 65.224% 55.063%, 60.211% 43.789%)
}

.lamo-35{
    background-color:#D8CBB2;
    clip-path: polygon(71.674% 28.947%, 77.926% 36.337%, 77.863% 21.368%)
}

.lamo-36{
    background-color:#D8CBB2;
    clip-path: polygon(62.577% 13.469%, 63.751% 40.013%, 71.674% 28.947%)
}

.lamo-37{
    background-color:#C4B899;
    clip-path: polygon(73.134% 14.8%, 71.674% 28.947%, 77.863% 21.368%)
}

.lamo-38{
    background-color:#ACA187;
    clip-path: polygon(62.577% 13.469%, 71.674% 28.947%, 73.134% 14.8%)
}

.lamo-39{
    background-color:#D8CBB2;
    clip-path: polygon(73.134% 14.8%, 77.863% 21.368%, 78.771% 14.705%)
}

.lamo-40{
    background-color:#ACA186;
    clip-path: polygon(73.134% 14.8%, 78.771% 14.705%, 78.889% 12.124%)
}

.lamo-41{
    background-color:#C4B899;
    clip-path: polygon(73.134% 14.8%, 78.889% 12.124%, 74.958% 8.926%)
}

.lamo-42{
    background-color:#D8CBB2;
    clip-path: polygon(70.434% 8.974%, 73.134% 14.8%, 74.958% 8.926%)
}

.lamo-43{
    background-color:#C2B899;
    clip-path: polygon(62.577% 13.469%, 73.134% 14.8%, 70.434% 8.974%)
}

.lamo-44{
    background-color:#3D2E26;
    clip-path: polygon(62.577% 13.469%, 70.434% 8.974%, 70.339% 5.8%)
}

.lamo-45{
    background-color:#3D2E24;
    clip-path: polygon(78.771% 14.705%, 77.863% 21.368%, 82.679% 18.424%)
}

.lamo-46{
    background-color:#766854;
    clip-path: polygon(78.771% 14.705%, 82.679% 18.424%, 82.679% 16.103%)
}


/* ============================================================================
============================================================================= */

.origin-0{
    background-color:transparent;
    clip-path: polygon(95.035% 37.345%, 96.185% 38.641%, 95.458% 37.17%)
}

.origin-1{
    background-color:transparent;
    clip-path: polygon(75.017% 13.58%, 75.793% 13.579%, 75.135% 12.85%)
}

.origin-2{
    background-color:transparent;
    clip-path: polygon(75.891% 78.988%, 78.732% 75.52%, 77.063% 75.48%)
}

.origin-3{
    background-color:transparent;
    clip-path: polygon(13.584% 41.784%, 14.664% 38.439%, 11.83% 39.738%)
}

.origin-4{
    background-color:transparent;
    clip-path: polygon(17.418% 48.517%, 25.097% 45.364%, 22.793% 42.633%)
}

.origin-5{
    background-color:transparent;
    clip-path: polygon(76.113% 68.822%, 83.281% 60.826%, 73.554% 59.114%)
}

.origin-6{
    background-color:transparent;
    clip-path: polygon(58.931% 80.22%, 58.408% 77.933%, 57.219% 78.291%)
}

.origin-7{
    background-color:transparent;
    clip-path: polygon(22.13% 28.183%, 24.542% 26.924%, 23.008% 25.186%)
}

.origin-8{
    background-color:transparent;
    clip-path: polygon(96.655% 88.067%, 98.62% 83.443%, 91.254% 87.461%)
}

.origin-9{
    background-color:transparent;
    clip-path: polygon(81.429% 56.889%, 85.087% 55.366%, 81.04% 54.92%)
}

.origin-10{
    background-color:transparent;
    clip-path: polygon(68.073% 80.737%, 67.928% 80%, 65.994% 80.029%)
}

.origin-11{
    background-color:transparent;
    clip-path: polygon(79.385% 23.319%, 75.638% 18.13%, 73.405% 23.39%)
}

.origin-12{
    background-color:transparent;
    clip-path: polygon(51.472% 96.263%, 53.989% 86.09%, 47.36% 90.585%)
}

.origin-13{
    background-color:transparent;
    clip-path: polygon(16.301% 89.071%, 19.402% 81.568%, 8.907% 74.378%)
}

.origin-14{
    background-color:transparent;
    clip-path: polygon(80.16% 58.684%, 76.384% 44.858%, 72.106% 53.297%)
}

.origin-15{
    background-color:transparent;
    clip-path: polygon(80.208% 96.991%, 82.895% 88.468%, 77.714% 88.02%)
}

.origin-16{
    background-color:transparent;
    clip-path: polygon(52.664% 10.272%, 57.974% 6.711%, 54.709% 3.589%)
}

.origin-17{
    background-color:transparent;
    clip-path: polygon(68.122% 85.8%, 68.107% 83.626%, 65.857% 83.736%)
}

.origin-18{
    background-color:transparent;
    clip-path: polygon(79.531% 36.608%, 81.736% 36.478%, 80.27% 34.2%)
}

.origin-19{
    background-color:transparent;
    clip-path: polygon(69.27% 41.401%, 71.07% 40.086%, 69.08% 39.85%)
}

.origin-20{
    background-color:transparent;
    clip-path: polygon(17.49% 12.507%, 16.382% 9.59%, 11.646% 11.676%)
}

.origin-21{
    background-color:transparent;
    clip-path: polygon(69.535% 10.807%, 69.972% 8.296%, 68.551% 8.243%)
}

.origin-22{
    background-color:transparent;
    clip-path: polygon(91.993% 25.623%, 96.795% 21.701%, 92.905% 19.669%)
}

.origin-23{
    background-color:transparent;
    clip-path: polygon(93.489% 31.11%, 93.479% 30.731%, 93.088% 30.943%)
}

.origin-24{
    background-color:transparent;
    clip-path: polygon(97.289% 66.742%, 98.019% 66.442%, 97.262% 66.155%)
}

.origin-25{
    background-color:transparent;
    clip-path: polygon(95.501% 19.89%, 96.325% 20.182%, 95.628% 19.528%)
}

.origin-26{
    background-color:transparent;
    clip-path: polygon(74.999% 14.58%, 76.591% 16.175%, 75.667% 14.305%)
}

.origin-27{
    background-color:transparent;
    clip-path: polygon(53.634% 44.434%, 53.422% 42.548%, 50.872% 44.264%)
}

.origin-28{
    background-color:transparent;
    clip-path: polygon(25.453% 11.727%, 33.11% 6.286%, 23.808% 4.662%)
}

.origin-29{
    background-color:transparent;
    clip-path: polygon(84.065% 61.604%, 83.177% 57.841%, 78.147% 59.399%)
}

.origin-30{
    background-color:transparent;
    clip-path: polygon(47.796% 58.98%, 53.984% 59.87%, 48.692% 57.923%)
}

.origin-31{
    background-color:transparent;
    clip-path: polygon(57.195% 23.257%, 65.051% 21.753%, 58.455% 20.799%)
}

.origin-32{
    background-color:transparent;
    clip-path: polygon(26.721% 9.209%, 29.236% 7.513%, 23.156% 8.608%)
}

.origin-33{
    background-color:transparent;
    clip-path: polygon(56.717% 70.464%, 59.183% 67.85%, 55.924% 70.14%)
}

.origin-34{
    background-color:transparent;
    clip-path: polygon(79.314% 47.919%, 81.912% 43.082%, 79.334% 45.798%)
}

.origin-35{
    background-color:transparent;
    clip-path: polygon(68.991% 55.576%, 72.149% 48.96%, 61.779% 53.727%)
}

.origin-36{
    background-color:transparent;
    clip-path: polygon(37.516% 68.364%, 47.79% 63.226%, 42.028% 62.2%)
}

.origin-37{
    background-color:transparent;
    clip-path: polygon(50.773% 51.015%, 52.399% 50.461%, 51.296% 50.272%)
}

.origin-38{
    background-color:transparent;
    clip-path: polygon(3.119% 60.025%, 10.961% 48.964%, 0.736% 52.418%)
}

.origin-39{
    background-color:transparent;
    clip-path: polygon(31.281% 30.951%, 34.023% 26.244%, 29.656% 27.568%)
}

.origin-40{
    background-color:transparent;
    clip-path: polygon(9.053% 42.61%, 8.598% 41.746%, 8.137% 41.916%)
}

.origin-41{
    background-color:transparent;
    clip-path: polygon(9.74% 72.256%, 8.748% 71.494%, 8.438% 72.456%)
}

.origin-42{
    background-color:transparent;
    clip-path: polygon(5.253% 4.325%, 6.061% 3.48%, 4.928% 3.656%)
}

.origin-43{
    background-color:transparent;
    clip-path: polygon(28.261% 58.636%, 27.753% 57.177%, 27.053% 57.887%)
}

.origin-44{
    background-color:transparent;
    clip-path: polygon(35.54% 87.786%, 34.394% 87.12%, 33.911% 87.352%)
}

.origin-45{
    background-color:transparent;
    clip-path: polygon(2.542% 74.686%, 5.329% 73.84%, 3.33% 72.558%)
}

.origin-46{
    background-color:transparent;
    clip-path: polygon(33.375% 53.226%, 34.265% 50.744%, 33.2% 51.215%)
}


/* ============================================================================
============================================================================= */

/* ============================================================================
============================================================================= */

/* ============================================================================
============================================================================= */

/* ============================================================================
============================================================================= */

/* ============================================================================
============================================================================= */

/* ============================================================================
============================================================================= */

/* ============================================================================
============================================================================= */

/* ============================================================================
============================================================================= */