


@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');

@font-face{
    font-family: Seto;
    src: url("font/setofont.ttf");
    font-style: normal;
    font-weight: normal;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: 
        linear-gradient(100deg, hsla(200,70%,60%,0.9),hsla(150, 80%, 70%,0) 70%),
        linear-gradient(1200deg, hsla(0,70%,60%,0.9),hsla(150, 80%, 70%,0) 70%),
        linear-gradient(70deg, hsla(100,70%,60%,0.9),hsla(150, 80%, 70%,0) 70%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130% 120%;
    background-attachment: fixed;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 0;
    height: 0;
}

header {
    display: flex;
    justify-content:center;
    align-items:flex-end;
    font-family: "Hachi Maru Pop", Seto, "微軟正黑體";
    background-color: rgba(0, 0, 0, 0.087);
    padding-bottom: 20px;
    flex-wrap: wrap;
}

header #title {  
    font-size:7em;
    line-height: 100%;
    margin: 10px;
}

header #subtitle{
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: .2em;
}

.main{
    font-family: "微軟正黑體";    
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
    flex-wrap: wrap;    
}



.main .kind{
    position: relative;
    padding: .5ch 2ch;
    list-style:none;
    max-width: 500px;

}

.main h1{
    font-size: 2em;
    font-family: "微軟正黑體";
    font-weight: 600;
    white-space: pre-line;
    margin: .5ch 0;
    cursor: default;
}
/* .main ul[data-kind]::before{
    font-size: 2em;
    content: attr(data-kind);
    word-break: keep-all;
    white-space: pre-line;
} */

.main .dish{   
    position: relative; 
    font-size: 1.5em;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    cursor:default;
    transform: scale(.98);
    transition: all .3s;
}


.main .dish:active{
    transform: scale(.97);
}

@media (hover: hover){
    .main .dish:hover{
        transform: scale(1);
        outline: 1px black solid;
    }
}

/* .main .dish::before{

    content: attr(data-note);
} */

.main .dish[data-note]::after{
    content: attr(data-note);    
    margin: 0 1ch;
    padding: 0em 1ch;
    font-size: .6em;
    border-radius: 100vh;
    color: rgba(215, 231, 250, 0.825);
    background-color: rgba(0, 0, 0, 0.344);
}

.main .dish::before{
    position: absolute;
    right: 0;
    display: inline;
    content: "$" attr(data-price);    
}





dialog{
    position: fixed;
    width: 300px;
    height: 500px;
    background-color: blueviolet;
}
